.vscode
NoSQLWithCSharp/.vs/

NoSQLWithCSharp/NoSQLWithCSharp.Common/bin/
NoSQLWithCSharp/NoSQLWithCSharp.Common/obj/
NoSQLWithCSharp/NoSQLWithCSharp.MongoDB/bin/
NoSQLWithCSharp/NoSQLWithCSharp.MongoDB/obj/
