.vscode
NoSQLWithCSharp/.vs/
NoSQLWithCSharp/NoSQLWithCSharp.UI/bin/
NoSQLWithCSharp/NoSQLWithCSharp.UI/obj/
NoSQLWithCSharp/NoSQLWithCSharp.Common/bin/
NoSQLWithCSharp/NoSQLWithCSharp.Common/obj/
NoSQLWithCSharp/NoSQLWithCSharp.MongoDB/bin/
NoSQLWithCSharp/NoSQLWithCSharp.MongoDB/obj/
NoSQLWithCSharp/NoSQLWithCSharp.Contracts/bin/
NoSQLWithCSharp/NoSQLWithCSharp.Contracts/obj/
